<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thirteen</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    .photo {
    	max-width: 470px; 
    	margin: auto;
    }
    </style>
  </head>
  <body>
	<!-- navigation top bar -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Thirteen</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	  		<li class="active"><a href="/">Home</a></li>      
	      </ul>
	      <ul class="nav navbar-nav navbar-right logged-out">
	        <li><a href="/users/auth">Sign in</a></li>
	        <li><a href="/users/register">Register</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right logged-in">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged on as <span id="auth-nick">%username%</span> <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a id="profile-go" href="#">Profile</a></li>
	            <li><a id="profile-logout" href="#">Sign out</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-right" role="search" style="margin-right: 15px;">
	        <div class="input-group">
		      <input type="text" class="form-control search-box">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Search</button>
		      </span>
		    </div><!-- /input-group -->
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<!-- <div style="width: 100%; background-color: #222222; margin-top: -20px; padding-top: 20px;"> -->
	<div class="container" style="padding-top: 50px;">
		<div id="image" class="thumbnail hidden photo">
			<img class="img-responsive"  />
			<div class="caption">
				<h4 id="image-owner"></h4>
				<p id="image-description"></p>
				<p>
					<button id="image-like" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span> <span id="image-likes"></span></button>
					<button id="image-comment" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span> <span id="image-comments"></span></button>
				</p>
			</div>
		</div>

	</div>
<!-- </div> -->

<div id="image-comments-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Comments</h4>
      </div>
      <div class="modal-body">
        <div id="image-modal-comments">
        	
        </div>
		<textarea id="image-new-comment" class="form-control" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="image-add-comment" type="button" class="btn btn-primary">Comment</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/cookie.js"></script>
	<script>

		var comment = function(nick, comment) {
			if (!window.cm) window.cm = $("#image-modal-comments");
			var p = $("<p>");
			p[0].innerHTML = "<strong>" + nick + "</strong> " + comment ;
			cm.append(p);
		};

		var init = function(data) {
			if (!data) data = {};
			if (typeof(data) == 'string' && data !== '') data = JSON.parse(data);	

			var session = $.cookie('sessionkey');
			var userid = $.cookie('userid');
			var imageId = $.cookie('image-id');
			var nick;

			if (!session) {
				$('.logged-out').removeClass('hidden');
				$('.logged-in').addClass('hidden');
				if (data.email) $("#auth-name").text(data.email);
			} else {
				$.getJSON('/api/users/profile/' + userid, function(data) {
					$("#auth-nick").text(data.nick);
					nick = data.nick;
				}).fail(function() {
					$.get('/api/users/logout', init);
				});
				$('.logged-in').removeClass('hidden');
				$('.logged-out').addClass('hidden');
			}

			$.getJSON('/api/images/' + imageId, function(data) {
				$("#image img").attr('src', data.path);	
				$("#image").removeClass('hidden');

				$("#image-description").text(data.description);
				$("#image-owner").text(data.owner.nick);
				$("#image-likes").text(data.likes);
				$("#image-comments").text(data.comments);				

				$("#image-like").on('click', function() {
					if (!userid) return;
					$.getJSON('/api/images/like/' + imageId, { owner: userid }, function(data) {
						$("#image-likes").text(data);				
					});
				});

				$("#image-comment").on('click', function() {
					$("#image-comments-modal").modal('show');
				});

				$.getJSON('/api/comments/' + imageId, function(data) {
					var cm = $("#image-comments");
					data.forEach(function(elem) {
						comment(elem.nick, unescape(elem.text));
					});
				});

				if (userid) $("#image-add-comment").removeAttr('disable');
				else $("#image-add-comment").attr('disable', 'disable');

				$("#image-add-comment").on('click', function() {
					var owner = userid,
						text = $("#image-new-comment").val(),
						id = imageId;

					$.post('/api/comments/put/' + id, { owner: owner, comment: text }, function() {
						$("#image-new-comment").val("");
						comment(nick, text);
						ic.text(ic.text() * 1 + 1);				
						var ic = $("#image-comments");		
					});
				});

			});
		};

		$(function() {
			init();

			$("#profile-logout").on('click', function() {
				$.get('/api/users/logout', init);
			});

			$("#profile-go").on('click', function() {
				document.location.href = '/users/profile/' + userid;
			});
		});
	</script>
  </body>
</html>