<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thirteen</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/crop.css" type="text/css" />

    <style>
    	.file-box {
    		overflow: hidden;
    		height: 71px;
    		padding: 10px 0px;
    	}

    	.upload-file {
    		margin-top: -50px; 
    		width: 100%; 
    		height: 71px; 
    		-moz-opacity: 0; 
    		filter: alpha(opacity=0); 
    		opacity: 0;
    	}
	</style>
	</head>
	<body>
	<!-- navigation top bar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Thirteen</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      		<ul class="nav navbar-nav">
	        		<li><a href="/">Home</a></li>
	        		<li class="active"><a href="#">Upload</a></li>
	      		</ul>
	    	</div>
		</div><!-- /.container-fluid -->
	</nav>




	<div class="container" style="margin-top: 100px;">

		<div id="upload-error" class="alert alert-danger hidden"><strong>Error:</strong> <span id="upload-error-message">only images are accepted</span></div>

		<div class="panel panel-default" style="max-width: 700px; margin-left: auto; margin-right: auto;">
			<div id="upload-header" class="panel-heading" style="text-align: center; padding: 0px;">
				<div class="file-box">
					<h4><a href="#"><span id="upload-header-icon" class="glyphicon glyphicon-camera"></span> <span id="upload-header-text">Upload photo</span></a></h4>
					<input type="file" id="upload-file" class="upload-file" />
				</div>
	 		</div>
	 		<div id="upload-body" class="panel-body" style="display: none;">
	 			<div id="progress-bar-outer" class="progress">
					<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				    	<span class="sr-only"></span>
					</div>
				</div>
				<img src="" id="crop-image" class="img-responsive thumbnail" />
				<div class="form-group hidden" id="upload-desc-outer">
					<label for="upload-desc">Description</label>
					<textarea id="upload-desc" class="form-control" rows="3"></textarea>
				</div>
			</div>
 		</div>
	</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/cookie.js"></script>
	<script src="/js/crop.min.js"></script>
	<script>

	$(function() {

		var x = 0, y = 0,
			w = 0, h = 0,
			width = 0,
			height = 0,
			id = 0,
			jcrop;

		$("#upload-file").on('change', function() {
			$("#upload-error").addClass("hidden");

			if (this.files.length === 0) return;

			var file = this.files[0],
	        	data = new FormData();
	        
	        data.append('upload', file);

			if (!file.type.match(/image/)) {
				$("#upload-error").removeClass("hidden");
				$(this).val('');
				return;
			}

			x = 0; y = 0;
			w = 0; h = 0;

			var uploaded = function(data) {
	    		data = JSON.parse(data);
	    		id = data.id;
	    		setTimeout(function(){
	    			$("#progress-bar-outer").fadeOut();	    	
	    			$("#upload-header input").remove();
	    			$("#upload-header-icon").removeClass("glyphicon-camera").addClass("glyphicon-floppy-disk");
	    			$("#upload-header-text").text("Save");
	    			$("#upload-desc-outer").removeClass('hidden');
	    			$("#upload-header").css('cursor', 'pointer')
	    				.on('click', function() {	    				
	    					var desc    = $("#upload-desc").val(),
	    						image   = $("#crop-image"),
	    						width   = image.css('width').replace('px',''),
	    						rwidth  = image[0].naturalWidth,
	    						enlarge = rwidth / width;

	    					$.post('/api/images/update/' + id, {
	    						desc: desc,
	    						x: (x * enlarge).toFixed(0),
	    						y: (y * enlarge).toFixed(0),
	    						size: (w * enlarge).toFixed(0)
	    					}, function(data) {
	    						document.location.href = '/images/' + id;
	    					}).fail(function(data) {
	    						$("#upload-error").show();
	    						$("#upload-error-message").text(data.responseText);
	    					}); 
	    				});
	    			setTimeout(function(){
	    				$("#crop-image").attr('src', data.path).removeClass("hidden");
						$('#crop-image').Jcrop({
							minSize: [250, 250],
							maxSize: [1024, 1024],
							setSelect:   [ 0, 0, 250, 250 ],
							aspectRatio: 1,
							bgOpacity: 0.4,
							bgColor: 'white',
  							onSelect: function(c) {
  								x = c.x; y = c.y;
  								w = c.w; h = c.h;
  							},
  							onChange: function(c) {
  								x = c.x; y = c.y;
  								w = c.w; h = c.h;
  							}
						}, function() { jcrop = this; });
					}, 500);
	    		}, 1000);

			};

			var xhr = function() {
                var xhr = $.ajaxSettings.xhr();

                if ( xhr.upload ) {                
                		$("#upload-body").slideDown('hidden');
					xhr.upload.onprogress = function(e) {
                       	file.progressDone = e.position || e.loaded;
                       	file.progressTotal = e.totalSize || e.total;
                       	$("#progress-bar").css('width', (100 * file.progressDone / file.progressTotal).toFixed(0) + '%');
                   	};
                }
                return xhr;
            };

		    $.ajax( {
		    	url: '/api/images/upload', 
		    	type: "POST",
		    	data: data,
		    	cache: false,
		    	enctype: "multipart/form-data",
		    	processData: false,
		    	contentType: false,
		    	success: uploaded,
				xhr: xhr
			}).fail(function(data, err, status) {
				if (status == 'Forbidden') document.location.href = '/users/auth';
			});
		});
	});
	</script>
  </body>
</html>