<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thirteen</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
		span.loginNick {
			font-weight: bold;
			color: #00a0e8;
		}
    </style>
  </head>
  <body>
	<!-- navigation top bar -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Thirteen</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	  		<li class="active"><a href="/">Home</a></li>
	  		<li><a href="/tags">Tags</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right logged-out">
	        <li><a href="/users/auth">Sign in</a></li>
	        <li><a href="/users/register">Register</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right logged-in">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged on as <span id="auth-nick"><i class="fa fa-spinner fa-spin"></i></span> <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/images/upload">Upload</a></li>
	            <li><a href="/users/profile">Profile</a></li>
	            <li><a href="/users/logout">Sign out</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<!-- <div style="width: 100%; background-color: #222222; margin-top: -20px; padding-top: 20px;"> -->
	<div class="container" style="padding-top: 50px;">
		<div class="row">
			<div class="col-xs-6 col-md-3" style="">
			<a href="#" data-href0="" data-href1="" class="thumbnail" id="thumb-1">
				<img class="img-responsive" data-image="1" >
				<img class="img-responsive" data-image="1" style="display: none;">
			</a>
			</div>
			<div class="col-xs-6 col-md-3">
			<a href="#" data-href0="" data-href1="" class="thumbnail" id="thumb-2">
				<img class="img-responsive" data-image="2" >
				<img class="img-responsive" data-image="2" style="display: none;">
			</a>
			</div>
			<div class="col-xs-6 col-md-3">
			<a href="#" data-href0="" data-href1="" class="thumbnail" id="thumb-3">
				<img class="img-responsive" data-image="3" >
				<img class="img-responsive" data-image="3" style="display: none;">
			</a>
			</div>
			<div class="col-xs-6 col-md-3">
			<a href="#" data-href0="" data-href1="" class="thumbnail" id="thumb-4">
				<img class="img-responsive" data-image="4" >
				<img class="img-responsive" data-image="4" style="display: none;">
			</a>
			</div>
		</div>
		<div class="row">		
			<div class="col-xs-6 col-md-3">
			<a href="#" data-href0="" data-href1="" class="thumbnail" id="thumb-5">
				<img class="img-responsive" data-image="5" >
				<img class="img-responsive" data-image="5" style="display: none;">
			</a>
			</div>
			<div class="col-xs-6 col-md-3">
			<a href="#" data-href0="" data-href1="" class="thumbnail" id="thumb-6">
				<img class="img-responsive" data-image="6" >
				<img class="img-responsive" data-image="6" style="display: none;">
			</a>
			</div>
			<div class="col-xs-6 col-md-3">
			<a href="#" data-href0="" data-href1="" class="thumbnail" id="thumb-7">
				<img class="img-responsive" data-image="7" >
				<img class="img-responsive" data-image="7" style="display: none;">
			</a>
			</div>
			<div class="col-xs-6 col-md-3">
			<a href="#" data-href0="" data-href1="" class="thumbnail" id="thumb-8">
				<img class="img-responsive" data-image="8">
				<img class="img-responsive" data-image="8" style="display: none;">
			</a>
			</div>	
		</div>
	</div>
<!-- </div> -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/cookie.js"></script>
	<script>
		var slider = function (first, second) {
			$(first).toggle(500);
			$(second).toggle(500);
		};

		var init = function(data) {
			if (!data) data = {};
			if (typeof(data) == 'string' && data !== '') data = JSON.parse(data);	

			var session = $.cookie('sessionkey');
			var userid = $.cookie('userid');

			if (!session) {
				$('.logged-out').removeClass('hidden');
				$('.logged-in').addClass('hidden');
				if (data.email) $("#auth-name").text(data.email);
			} else {
				$.getJSON('api/users/profile/' + userid, function(data) {
					$("#auth-nick").text(data.nick);
				}).fail(function() {
					$.get('api/users/logout', init);
				});
				$('.logged-in').removeClass('hidden');
				$('.logged-out').addClass('hidden');
			}
		};

		$(function() {
			init();

			$.getJSON('/api/images/featured', function(data) {
				for (var i = 1; i <= 8; i++) {
					var tuple = $("[data-image=" + i + "]");	
					for (var j = 0; j < 2; j++) {
						$(tuple[j]).attr('src', data[(i - 1) * 2 + j].path);
						/* not yet complete
							if ($("#thumb-" + id).href==$(first).src)
								$("#thumb-" + id).attr('href', $(second).href1);
							else
								$("#thumb-" + id).attr('href', $("#thumb-" + id).href0);
						*/
					}
				}
				setInterval(function() {
					var toSlide1 = (Math.random() * 4).toFixed(0) * 1 + 1;
					var toSlide2 = (Math.random() * 4).toFixed(0) * 1 + 5;
					var slides1 = $("[data-image=" + toSlide1 + "]");	
					var slides2 = $("[data-image=" + toSlide2 + "]");
					thslider(toSlide1);
					setTimeout(function() {
						slider(slides2[0], slides2[1]);
					}, 1000);
				}, 3000);	
			});

		});
	</script>
  </body>
</html>