<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Thirteen</title>

		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<style>
			@media(min-width: 768px) {
				.registerForm {
					width: 50%;
					margin-left: auto;
					margin-right: auto;
				}
			}

			@media(max-width: 768px) {
				.registerForm {
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}
			}
		</style>
	</head>
	<body>
	<!-- navigation top bar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Thirteen</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      		<ul class="nav navbar-nav">
	        		<li><a href="/">Home</a></li>
	        		<li class="active"><a href="#">Register</a></li>     
	      		</ul>
	    	</div>
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container" style="margin-top: 100px;">
		<div class="registerForm">
			<div class="alert alert-danger" id="failForm" style="display: none;">
				
			</div>
	    	<form role="form" id="registerForm" onsubmit="return false;">
				<div class="form-group">
					<label for="registerLogin">Email address</label>
					<input type="text" class="form-control" id="registerLogin" placeholder="Enter email" />
				</div>
				<div class="form-group">
					<label for="registerPassword">Password:</label>
					<input type="password" class="form-control" id="registerLogin" placeholder="Password" />
				</div>
				<button id="registerSubmit" class="btn btn-default">Register</button>
	    	</form>
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/cookie.js"></script>
	<script>
		$(function() {
			$("form").on('submit', function() {
				var email = $("#email").val();
				var password = $("#password").val();

				$.post("/api/users/register", { email: email, password: password }, function(data) {
					data = JSON.parse(data);

					$.cookie('default-email', data.email);
					document.location.href = '/users/auth';

				}).fail(function(data) {
					data = JSON.parse(data.responseText);				
					$("#failForm").text(data.message);
					$("#failForm").fadeIn();
				});

				return false;
			});
		});
	</script>
	</body>
</html>